.seatDiv{
  .Seatimg {
    height: 135px;
    width: 100%;
    margin-bottom: 5px;
  }
}
.seatInfo {
  font-size: 21px;
  font-weight: bold;
}

.disableCard {
  border: 1px solid #ddd;

}
.delete {
  background-color: #ddd;
  color: black;
  font-weight: bold;
}
.disImg {
  border: 1px solid #ddd;
  filter: blur(2px);
}
.booked {
  color: rgb(192, 189, 189);
}
.changeColor{
color: rgb(174, 168, 168);
 }
.cursor {
  cursor: pointer;
}
